@tailwind base;
@tailwind components;
@tailwind utilities;
/* White Theme */

/* Warm Greenish Theme */
:root {
  --primary: #FFFFFF; /* White */
  --secondary: #12bb9a; /* Light Warm Green */
  --secondary-v2: #36ceaf; /* Warm Green */
  --neutral: #f8fcfa; /* Rich Warm Green (similar to green-500) */
  --secondary-v3: #58e0c5; /* Soft Warm Green */
}
.dark-mode {
  --primary: #102810; /* Dark Warm Green */
  --secondary: #1C3A1C; /* Darker Warm Green */
  --secondary-v2: #285A2C; /* Dark Grayish Warm Green */
  --secondary-v3: #1F3A1F; /* Very Dark Warm Green */
}
